{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Bug Tracker</title>
    <style>
        .loader-background {
            background: rgba(149, 230, 238, 0.38);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 99999;
        }

        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .loader-parent {
            overflow: hidden;
            position: relative;
        }
    </style>
</head>
<body>
<div id="app" class="wrapper">
    {% include '__layout/navbar.html' %}
    {% block main_content %}{% endblock %}
</div>
<script src="https://kit.fontawesome.com/8509b10269.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>